@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: #dfae0e;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    width: 300px;
    height: 430px;
    background: rgb(255, 230, 0);
}
input{
    width: 200px;
    outline: none;
    height: 25px;
    border-radius: 10px;
    border: 1px black solid;
}
label{
    font-weight: 700;
}
button{
    padding: 10px;
    width: 130px;
    height: 45px;
    border-radius: 10px;
    background: #272727;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
}
.return{
    display: block;
    height: 110px;
    width: 255px;
    border-radius: 12px;
    background: #272727;
    margin-top: 20px;
    padding: 10px;
}
#result{
    color: white;
    font-size: 16px;
}